.happeningContainer {
  display: flex;
  background-color: #eff1f1;
  margin: 10px;
}

.Info {
  width: 100%;
  margin-left: 15px;
}
.promoted {
  margin-top: 30px;
}

.Info p:hover {
  cursor: pointer;
}

.Info p:first-child {
  display: flex;
}

.Info p:first-child:hover {
  text-decoration: underline;
}

.action {
  width: 100%;
  text-align: end;
}
