.name {
  font-size: 15;
}

.bold-500 {
  font-weight: 500;
}

.userName {
  font-size: 15;
}

.greyText {
  color: rgb(83, 100, 113);
}

.blueTextContainer a {
  color: rgb(29, 155, 240);
}

.displayflex {
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-size: calc(10px + 2vmin); */
}
